<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <div class="logo">
            <i class="fas fa-gamepad"></i>
            <span>GameHub</span>
        </div>
    </header>
    
    <div class="game-view-container">
        <div class="info">
            <img src="../img/game.jpg" alt="" class="logo">
            <div class="title">The ball</div>
        </div>
        
        <div class="images">
            <img src="../img/game.jpg" alt="">
            <img src="../img/game.jpg" alt="">
            <img src="../img/game.jpg" alt="">
        </div>
        
        <div class="play-button" onclick="location.replace('play-game.html')">
            <i class="fas fa-play"></i>
            <div class="text">Play</div>
        </div>
        
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, sunt quibusdam molestias. Consectetur qui, blanditiis natus voluptatem nobis odit sapiente, cum necessitatibus quidem dolore error hic, vitae eum quasi fuga?</p>
    </div>
    
    <footer>
        <div class="footer-page" onclick="location.replace('index.html')">
            <i class="fas fa-home"></i>
            <div class="page-title">Главная</div>
        </div>
        <div class="footer-page" onclick="location.replace('search.html')">
            <i class="fas fa-search"></i>
            <div class="page-title">Поиск</div>
        </div>
        <div class="footer-page" onclick="location.replace('profile.html')">
            <i class="fas fa-user"></i>
            <div class="page-title">Профиль</div>
        </div>
    </footer>
    <br><br><br><br>
</body>
</html>