<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {margin: 0; padding: 0;}
        iframe {
            height: 100%;
            width: 100%;
            background: grey;
            border: none;
        }
        i {
            position: absolute;
            bottom: 0; right: 0;
            background: grey;
            opacity: .5;
        }
    </style>
</head>
<body>
    <!--
    <iframe src="http://127.0.0.1:8000/media/games/ball/index.html" frameborder="0"></iframe>
    -->
    <iframe src="../games/godown/index.html"></iframe>
    
    <i>Shaxcoder 2025©</i>

<script src="../js/config.js"></script>
</body>
</html>